[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
requests = "*"
drf-yasg = "*"
setuptools = "*"
djangorestframework-simplejwt = "*"
environ = "*"
django-environ = "*"
psycopg2-binary = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.2"
