-i https://pypi.python.org/simple
django
djangorestframework
requests
drf-yasg
setuptools==69.0.3; python_version >= '3.8'
djangorestframework-simplejwt
environ
django-environ
psycopg2-binary
sqlparse>=0.5.0 # not directly required, pinned by Snyk to avoid a vulnerability
