-i https://pypi.python.org/simple
django
djangorestframework
requests
drf-yasg
setuptools
djangorestframework-simplejwt
environ
django-environ
psycopg2-binary
sqlparse>=0.5.0 # not directly required, pinned by Snyk to avoid a vulnerability
